%h1 Amazing Transaction Viewer by Bean

%hr
%p Enter a transaction description and click 'Submit'

= form_for @transaction do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label 'Enter description:'
    = f.text_field :description
  .actions
    = f.submit 'Submit'

%hr

%h3 Transactions (reverse chronologically):
- if @transactions.present?
  - @transactions.each do |t|
    %p= "Merchant: #{t.merchant.name} (id: #{t.merchant.id}) - #{t.description}"
- else
  %p No transactions.
